<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiAuAudota | Sua plataforma de adoção de animais</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/162321645.ico">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/partials/page-landing.css">

</head>
<body id="page-landing">
    <div id="container">
        <div class="logo-container">
           <img src="/assets/Anotação_2020-08-03_122800-removebg-preview.png" alt="MiAuAudota">
            
           <h2> Sua plataforma online de adoção de pets</h2>
        
        </div>
        <img class="pet-image"src="./assets/undraw_friends_r511.svg" alt="Plataforma de adoção">

        <div class="buttons-container">
            
            <a class="adotar" href="/adopt">
                <img src="/assets/gift (1).svg" alt="Adotar">
                Adotar</a>
            <a class="adoção" href="/give-home">
                <img src="/assets/edit (1).svg" alt="Cadastrar adoção">
                Cadastrar</a>
        </div>

        <p class="total-adoptions">
            Total de 200 pets já cadastrados
            <img src="/assets/heart (2).svg" alt="Coração cinza">
        </p>
    </div>
</body>
</html>
